.container {
  display: flex;
  align-items: center;
}
.result {
  display: flex;
  margin: 8px;
  flex-direction: column;
}
.detail-result {
  margin-top: 8px;
}
.img {
  width: 400px;
  height: 230px;
  object-fit: cover;
}

.alert-dialog-title {
  font-size: 1.6rem;
}
